@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola!</h1>
    <p>Soy Florencia Leiva y este es mi proyecto!</p>
    <img class="text-center" src="https://media.tenor.com/rkY5QA5c3VAAAAAM/gato-digitando.gif" />
</div>
